<% layout('layout/template') %>

    <h3>Update Event</h3>
    <section>
        <form action="/events/<%= event._id %>?_method=PATCH" method="post" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="name">Event Name : </label>
                <input class="form-control" type="text" id="name" name="name" value="<%= event.name %>"
                    placeholder="Name"></input>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description : </label>
                <br>
                <textarea class="form-control" id="description" name="description" cols="32" rows="2"
                    placeholder="Description"><%= event.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="address">Address : </label>
                <br>
                <textarea class="form-control" id="address" name="address" cols="32" rows="2"
                    placeholder="Address"><%= event.address %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="website">Website : </label>
                <input class="form-control" type="text" id="website" name="website" value="<%= event.website %>"
                    placeholder="Website"></input>
            </div>
            <div class="mb-3">
                <label class="form-label" for="phone">Phone : </label>
                <input class="form-control" type="text" id="phone" name="phone" value="<%= event.phone %>"
                    placeholder="Phone"></input>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image : </label>
                <input class="form-control" type="text" id="image" name="image" value="<%= event.image %>"
                    placeholder="Image"></input>
            </div>
            <div class="mb-3">
                <label class="form-label" for="priceStarts">Starts From : </label>
                <input class="form-control" type="text" id="priceStarts" name="priceStarts"
                    value="<%= event.priceStarts %>" placeholder="Starts From"></input>
            </div>
            <br>
            <div>
                <button class="btn btn-success">Update</button>
            </div>
        </form>
        <br>
        <br>
        <form action="/events/<%= event._id %>?_method=DELETE" method="post">
            <button class="btn btn-dark">Delete</button>
            <a class="btn btn-dark" href="/events/<%= event._eid %>">Back</a>
        </form>
    </section>
    <br />
    <%- include('../comment/new') %>
  <%- include('../comment/index') %>

    <!-- <h3>Comments</h3>
    <section>
        <a class="btn btn-link" href="/events/comments/<%= event._id %>/new">Add Comment</a>
        <a class="btn btn-link" href="/events/comments/<%= event._id %>">View Comments</a>
    </section>
    <br>
    <section>
        <table style="border: 0.5px solid black">
            <thead>
                <th>
                    <tr>
                        <td>Text</td>
                        <td>Rating</td>
                        <td colspan="2">Action</td>
                    </tr>
                </th>
            </thead>
            <tbody>
                <% for(let comment of event.comments ) { %>
                    <tr>
                        <td>
                            <a href="/events/comments/<%= event._id %>/<%= comment._id %>">
                                <%= comment.text %>
                            </a>
                        </td>
                        <td>
                            <%= comment.rating %>
                        </td>
                        <td>
                            <a href="/events/comments/<%= event._id %>/<%= comment._id %>/edit">Edit</a>
                        </td>
                        <td>
                            <section>
                                <form action="/events/comments/<%= event._id %>/<%= comment._id %>?_method=DELETE"
                                    method="post">
                                    <button class="btn btn-link">Delete</button>
                                </form>
                            </section>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </section> -->