<% layout('layout/template') %>

  <h2>Event Deatils</h2>
  <section>
    <a href="/events">Back to Events List</a>
    <a href="/events/<%= event._id %>/comments/new">Add Comment</a>
    <a href="/events/<%= event._id %>/comments">View Comments</a>
  </section>
  <br /><br />
  <section>
    <form action="/events/<%= event._id %>" method="post">
      <section>
        <label for="name">Event Name : </label>
        <label id="name" name="name">
          <%= event.name %>
        </label>
      </section>
      <img class="img-fluid" src="<%= event.img %>" alt="" />
      <section>
        <label for="description">Description : </label>
        <label id="description" name="description">
          <%= event.description %>
        </label>
      </section>
      <section>
        <label for="address">Address : </label>
        <label id="address" name="address">
          <%= event.address %>
        </label>
      </section>
      <section>
        <label for="website">Website : </label>
        <label id="website" name="website">
          <%= event.website %>
        </label>
      </section>
      <section>
        <label for="phone">Phone : </label>
        <label id="phone" name="phone">
          <%= event.phone %>
        </label>
      </section>
      <section>
        <label for="image">Image : </label>
        <label id="image" name="image">
          <%= event.image %>
        </label>
      </section>
      <section>
        <label for="priceStarts">Starts From : </label>
        <label id="priceStarts" name="priceStarts">
          <%= event.priceStarts %>
        </label>
      </section>
    </form>
  </section>
  <br />
  <form action="/events/<%= event._id %>?_method=DELETE" method="post">
    <button>Delete</button>
  </form>
  <br />
  <h3>Comments</h3>
  <section>
    <table style="border: 0.5px solid black">
      <thead>
        <th>
          <tr>
            <td>Text</td>
            <td>Rating</td>
            <td colspan="2">Action</td>
          </tr>
        </th>
      </thead>
      <tbody>
        <% for(let comment of event.comments ) { %>
          <tr>
            <td>
              <a href="/events/<%= event._id %>/comments/<%= comment._id %>">
                <%= comment.text %>
              </a>
            </td>
            <td>
              <%= comment.rating %>
            </td>
            <td>
              <a href="/events/<%= event._id %>/comments/<%= comment._id %>/edit">Edit</a>
            </td>
            <td>
              <form action="/events/<%= event._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
                <button>Delete</button>
              </form>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </section>