<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Users</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      a {
        padding: 2px !important;
      }
    </style>
  </head>
  <body>
    <h1>User Deatils</h1>
    <a href="/users">Back to Users List</a>
    <br /><br />
    <section>
      <form action="/users/<%= user._id %>?_method=PATCH" method="post">
        <section>
          <label for="name">User Name : </label>
          <label id="name" name="name"><%= user.name %></label>
        </section>
        <section>
          <label for="description">Description : </label>
          <label id="description" name="description"
            ><%= user.description %></label
          >
        </section>
        <section>
          <label for="address">Address : </label>
          <label id="address" name="address"><%= user.address %></label>
        </section>
        <section>
          <label for="website">Website : </label>
          <label id="website" name="website"><%= user.website %></label>
        </section>
        <section>
          <label for="phone">Phone : </label>
          <label id="phone" name="phone"><%= user.phone %></label>
        </section>
        <section>
          <label for="image">Image : </label>
          <label id="image" name="image"><%= user.image %></label>
        </section>
        <section>
          <label for="priceStarts">Starts From : </label>
          <label id="priceStarts" name="priceStarts"
            ><%= user.priceStarts %></label
          >
        </section>
      </form>
    </section>

    <script src="" async defer></script>
  </body>
</html>
