<% layout('layout/template') %>

    <h2>Update User</h2>
    <a href="/users">Back to Users</a>
    <br><br>
    <section>
        <form action="/users/<%= id %>?_method=PATCH" method="post">
            <section>
                <label for="name">First Name : </label>
                <input type="text" id="firstName" name="firstName" value="<%= user.firstName %>"
                    placeholder="First Name"></input>
            </section>
            <section>
                <label for="name">Last Name : </label>
                <input type="text" id="lastName" name="lastName" value="<%= user.lastName %>"
                    placeholder="Last Name"></input>
            </section>
            <section>
                <label for="address">Address : </label>
                <br>
                <section>
                    <label for="street">Street : </label>
                    <br>
                    <input type="text" id="street" name="street" value="<%= user.address.street %>"
                        placeholder="Street"></input>
                </section>
                <section>
                    <label for="city">City : </label>
                    <br>
                    <input type="text" id="city" name="city" value="<%= user.city %>" placeholder="City"></input>
                </section>
                <section>
                    <label for="state">State : </label>
                    <br>
                    <input type="text" id="state" name="state" value="<%= user.state %>" placeholder="State"></input>
                </section>
                <section>
                    <label for="country">Country : </label>
                    <br>
                    <input type="text" id="country" name="country" value="<%= user.country %>"
                        placeholder="Country"></input>
                </section>
            </section>
            <section>
                <label for="email">Email : </label>
                <input type="text" id="email" name="email" value="<%= user.email %>" placeholder="Email"></input>
            </section>
            <section>
                <label for="phone">Phone : </label>
                <input type="text" id="phone" name="phone" value="<%= user.phone %>" placeholder="Phone"></input>
            </section>
            <section>
                <label for="image">Image : </label>
                <input type="text" id="image" name="image" value="<%= user.image %>" placeholder="Image"></input>
            </section>
            <button>Submit</button>
        </form>
    </section>