<% layout('layout/template') %>

  <h2>Comments</h2>
  <h3>Event - <%= name %>
  </h3>
  <section>
    <a href="/events/comments/<%= eid %>/new">Add Comment</a>
    <a href="/events">Back to Events</a>
  </section>
  <br />

  <section>
    <table style="border: 0.5px solid black">
      <thead>
        <th>
          <tr>
            <td>Text</td>
            <td>Rating</td>
            <td colspan="2">Action</td>
          </tr>
        </th>
      </thead>
      <tbody>
        <% for(let comment of comments ) { %>
          <tr>
            <td>
              <a href="/events/comments/<%= eid %>/<%= comment._id %>">
                <%= comment.text %>
              </a>
            </td>
            <td>
              <%= comment.rating %>
            </td>
            <td>
              <a href="/events/comments/<%= eid %>/<%= comment._id %>/edit">Edit</a>
            </td>
            <td>
              <form action="/events/comments/<%= eid %>/<%= comment._id %>?_method=DELETE" method="post">
                <button>Delete</button>
              </form>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </section>