<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Events</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      a {
        padding: 2px !important;
      }
    </style>
  </head>

  <body>
    <h1>Event Deatils</h1>
    <section>
      <a href="/events">Back to Events List</a>
      <a href="/events/<%= event._id %>/comments/new">Add Comment</a>
      <a href="/events/<%= event._id %>/comments">View Comments</a>
    </section>
    <br /><br />
    <section>
      <form action="/events/<%= event._id %>" method="post">
        <section>
          <label for="name">Event Name : </label>
          <label id="name" name="name"> <%= event.name %> </label>
        </section>
        <section>
          <label for="description">Description : </label>
          <label id="description" name="description">
            <%= event.description %>
          </label>
        </section>
        <section>
          <label for="address">Address : </label>
          <label id="address" name="address"> <%= event.address %> </label>
        </section>
        <section>
          <label for="website">Website : </label>
          <label id="website" name="website"> <%= event.website %> </label>
        </section>
        <section>
          <label for="phone">Phone : </label>
          <label id="phone" name="phone"> <%= event.phone %> </label>
        </section>
        <section>
          <label for="image">Image : </label>
          <label id="image" name="image"> <%= event.image %> </label>
        </section>
        <section>
          <label for="priceStarts">Starts From : </label>
          <label id="priceStarts" name="priceStarts">
            <%= event.priceStarts %>
          </label>
        </section>
      </form>
    </section>

    <script src="" async defer></script>
  </body>
</html>
